[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
update_release = "python3 ./scripts/version_inject.py"
documentation = "mkdocs serve"
test = "pytest -v ./tests"

[packages]
pytest = "*"

[dev-packages]
autopep8 = "*"
candella-sdk = "*"
mkdocs = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
